/* Error: expected selector.
 *   ,
 * 2 | matt  14:50
 *   |       ^
 *   '
 *   src/sass/_fonts.scss 2:7  @use
 *   src/sass/style.scss 1:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 2 \2502  matt  14:50\a   \2502        ^\a   \2575 \a   src/sass/_fonts.scss 2:7  @use\a   src/sass/style.scss 1:1   root stylesheet";
}
